@keyframes grey-pulse {
  0%{
    border-color:gray;
  }
  50%{
    border-color:#eee;
  }
  100%{
    border-color:gray;
  }
}

.async-validating input{
  border-color:grey;
  animation-name:grey-pulse;
  animation-iteration-count:infinte;
  animation-duration:1.4s;
  background:black;
}
